body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.cats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cat-card {
    background-color: #fffaf6;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.cat-card:hover {
    transform: scale(1.05);
}

.cat-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.error {
    color: red;
}

.addons-menu {
    border: 3px solid brown;     /* коричневая рамка */
    text-align: center;          /* текст по центру */
    padding: 15px;               /* отступ внутри блока */
    margin: 20px 0 20px 20px;    /* отступ сверху, снизу и слева */
    width: fit-content;          /* ширина под содержимое */
    border-radius: 10px;         /* немного скруглим углы */
    background-color: #fffaf6;   /* лёгкий бежевый фон */
}

