{% extends "base.html" %}

{% block lab %}Лабораторная работа 2 — Список книг{% endblock %}

{% block main %}
<h1>Список книг</h1>

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Автор</th>
            <th>Название</th>
            <th>Жанр</th>
            <th>Количество страниц</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.pages }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/lab2/">Вернуться в Лабораторную 2</a>
{% endblock %}
