{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Список цветов</h1>

    {% if flowers %}
        <ul>
            {% for flower in flowers %}
                <li>
                    {{ loop.index }}. {{ flower.name }} — {{ flower.price }} руб.
                    <a href="{{ url_for('lab2.del_flower', flower_id=loop.index0) }}">удалить</a>
                </li>
            {% endfor %}
        </ul>

        <p><a href="{{ url_for('lab2.clear_flowers') }}">Удалить все цветы</a></p>
    {% else %}
        <p>Список цветов пуст.</p>
    {% endif %}

    <form action="{{ url_for('lab2.add_flower') }}" method="post">
        <label>Добавить цветок:</label>
        <input type="text" name="name" placeholder="название" required>
        <input type="number" name="price" placeholder="цена" min="1" required>
        <button type="submit">Добавить</button>
    </form>

    <p>Всего цветов: {{ flowers|length }}</p>
{% endblock %}