{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
<style>
    .modal {
        display: none;
        z-index: 100;
        box-shadow: 3px 3px 5px black;
        background: white;
        width: 800px;
        left: 50%;
        top: 220px;
        margin-left: -400px;
        position: absolute;
        padding: 20px;
    }
    textarea {
        resize: vertical;
        max-width: 100%;
        box-sizing: border-box;
    }
    .modal textarea {
        width: 100%;
    }
    .error-message {
        color: red;
    }
    h1 {
        text-align: center;
    }
    table {
        margin: 0 auto;
        border: 3px solid green;
        border-radius: 10px;
        border-collapse: separate;
        overflow: hidden;
        border-spacing: 10px; /* Расстояние между столбцами */
    }
    th, td {
        padding: 10px; /* Внутренние отступы в ячейках */
    }
    table td:nth-child(2) {     /* оригинальное назване */
        font-style: italic;
        color: #666;
    }
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th>Русское название</th>
                <th>Оригинальное название</th>
                <th>Год</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody> <!-- список фильмов -->
    </table>

    <div style="margin-top: 20px; text-align: center;">
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <!-- Модальное окно для добавления/редактирования -->
    <div class="modal">
        <input type="hidden" id="id">
        
        <label>
            Название фильма на русском:
            <input type="text" id="title-ru">
        </label><br>
        
        <label>
            Название фильма на оригинальном языке:
            <i>(если фильм русский, то оставьте пустым)</i>
            <input type="text" id="title">
        </label><br>
        
        <label>
            Год выпуска:
            <input type="number" id="year">
        </label><br>
        
        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>
        
        <button onclick="sendFilm()">OK</button>
        <button onclick="cancel()">Отмена</button>
    </div>
{% endblock %}