{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <style>
        .nav-panel {
            display: flex;
            justify-content: center;
            gap: 15px;
            align-items: center;
            margin-bottom: 30px;
            padding: 20px;
            background: #f5f5f5;
            border-radius: 10px;
        }

        .nav-btn {
            padding: 10px 20px;
            border: 1px solid #3498db;
            border-radius: 5px;
            text-decoration: none;
            color: #3498db;
            background: white;
            font-weight: 500;
            transition: 0.2s;
        }

        .nav-btn:hover {
            background: #3498db;
            color: white;
        }

        .username {
            margin-right: 20px;
            font-weight: bold;
            color: #2c3e50;
            font-size: 16px;
        }
    </style>

    <div>
        База знаний:
    </div>
    <div class="nav-panel">
        <a href="/lab8/login" class="nav-btn">Вход</a>
        <a href="/lab8/register" class="nav-btn">Регистрация</a>
        <a href="/lab8/articles" class="nav-btn">Список статей</a>
        <a href="/lab8/create" class="nav-btn">Создать статью</a>
        <a href="/lab8/logout/" class="nav-btn">Выход</a>

        <div class="username">{{ login }}</div>
    </div>
{% endblock %}