{% extends "base.html" %}

{% block lab %}Сессия: Два максимальных числа{% endblock %}

{% block main %}
    <h1>Введите 5 чисел</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if result %}
        <p>Два максимальных числа: {{ result[0] }} и {{ result[1] }}</p>
    {% endif %}

    <form method="POST">
        <input type="text" name="num1" placeholder="Число 1"><br>
        <input type="text" name="num2" placeholder="Число 2"><br>
        <input type="text" name="num3" placeholder="Число 3"><br>
        <input type="text" name="num4" placeholder="Число 4"><br>
        <input type="text" name="num5" placeholder="Число 5"><br><br>
        <button type="submit">Послать</button>
    </form>
{% endblock %}